<html>
  <body>
      <form action="/produtos" method="post">
        <div>
          <label for="titulo"></label>
          <input type="text" id="titulo" name="titulo" placeholder="titulo">
        </div>
        <div>
          <label for="preco"></label>
          <input type="text" id="preco" name="preco" placeholder="preco">
        </div>
        <div>
          <label for="descricao"></label>
          <textarea cols="20" rows="10" id="descricao" name="descricao" placeholder="descricao"></textarea>
        </div>

        <input type="submit" value="Gravar">

      </form>
  </body>
</html>
